<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-title class="ion-text-center"> Minhas compras </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Meu Carrinho</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content fullscreen>
        <ion-list *ngFor="let item of onObterItens();let i= index">
            <ion-item>
                <img [src]="item.produto.imagem" class="miniatura" />
                <ion-label>
                    <h2>{{ item.produto.nome }}</h2>
                    <div class="botoes">
                        <ion-button color="primary">
                            <ion-icon name="add-circle"></ion-icon>
                        </ion-button>
                        <ion-button color="danger">
                            <ion-icon name="remove-circle-outline"></ion-icon>
                        </ion-button>
                    </div>
                    <h3>{{ item.produto.preco | currency: 'BRL' }}</h3>
                    <p>{{ item.produto.descricao }}</p>
                </ion-label>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-title color="primary">Total: </ion-title>
    </ion-toolbar>
</ion-footer>