<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-title class="ion-text-center"> Promoções </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Itens promocionais</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content fullscreen>
        <ion-list *ngFor="let produto of onObterProdutos();let i= index">
            <ion-item *ngIf="produto.promocao === true">
                <img [src]="produto.imagem" class="img_responviva" />
                <ion-label>
                    <h2>{{ produto.nome }}</h2>
                    <div class="botoes_right">
                        <ion-button color="primary" (click)="this.carrinhoService.adicionarItem(item)">
                            <ion-icon name="add-circle"></ion-icon>
                        </ion-button>
                        <ion-button color="danger" (click)="this.carrinhoService.removerItem(item)">
                            <ion-icon name="remove-circle-outline"></ion-icon>
                        </ion-button>
                    </div>
                    <h3>{{ produto.preco | currency: 'BRL' }}</h3>
                    <p>{{ produto.descricao }}</p>
                    <p>Estoque: {{ produto.estoque }}</p>

                </ion-label>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-content>